<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pablo.system.dao.CtypeMapper">
    <resultMap id="BaseResultMap" type="com.pablo.system.domain.CtypeVo">
        <id column="ctid" property="ctid" jdbcType="INTEGER"/>
        <result column="ctname" property="ctname" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ctid,ctname
    </sql>

    <select id="queryAll" resultType="com.pablo.system.domain.CtypeVo">
        select
        <include refid="Base_Column_List"/>
        from tb_equipment_ctype
    </select>
</mapper>